html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.background {
    background: url("../images/dennis.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.translatedUp {
    -webkit-transform: translateY(-2%);
    transform: translateY(-2%);
}

.navbar-light-beige {
    background: linear-gradient(to bottom left, #014c3b, #019875);
}

.navbar-light-beige .nav-link {
    color: white !important;
}

.navbar-light-beige .nav-link:hover {
    color: lightgrey !important;
}

.navbar-light-beige .nav-item .active {
    color: lightgrey;
}

.navbar .navbar-brand {
    color: white;
}

.navbar-nav .nav-item {
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-docto-sticky {
    position: fixed;
    background: linear-gradient(to bottom left, #059bde, #34bfd9);
    color: white;
    border-color: #059bde;
    margin-top: 2vh;
    margin-left: 2vw;
    border-radius: 10px;
    z-index: 2;
}

.btn-docto-sticky:hover {
    color:white;
}

.btn-docto-sticky span {
    max-width: 0;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
}

.btn-docto-sticky:hover span {
    max-width: 20vw;
}

.btn-docto-sticky:hover .icon-lg-button {
    max-height: 6vh;
    max-width: 6vw;
    margin-right: 1vw;
}

.icon-lg-button {
    max-height: 6vh;
    max-width: 6vw;
}

.home {
    width: 100%;
    height: 100vh;
    margin: 0 auto -0.2em;
    background: url("../images/osteofade2.png") no-repeat center center;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom: #014c3b 0.2rem solid;
}

.home .inner {
    display: block;
}

.home h1 {
    color: #014c3b;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
            typing 2s steps(30, end),
            blink-caret .5s step-end infinite;
}

.home h2 {
    color: black;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
}

@keyframes typing {
    from { width: 0 }
    to { width: 39vw; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #019875 }
}

.informations {
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: -0 auto 2em;
    border-radius: 0.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.informations .card-deck .card {
    margin-right: 1rem;
    -webkit-box-shadow: 0 10px 6px -6px #014c3b;
    -moz-box-shadow: 0 10px 6px -6px #014c3b;
    box-shadow: 0 10px 6px -6px #014c3b;
}

.informations .card-body .card-title {
    color: #019875;
}

.informations .card-body .card-subtitle {
    color: #019875;
}

.centered {
    display: flex;
    justify-content:center;
    align-items:center;
    margin: auto 0;
}

.legal {
    margin: auto 0;
    text-align: center;
}

.services {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.services .card-wrapper {
    width: 90%;
    margin: 2em auto;
}

.services .card {
    border-radius: 5px;
    box-shadow: 0 1px 2px#014c3b;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services .card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px #014c3b;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services .card:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.services .card:hover::after {
    opacity: 1;
}

.services .card-button {
    color: #019875;
    border-color: #019875;
}

.services .card-body .card-title {
    color:#019875;
}

.team {
    display: flex;
    background-color: white;
    height: 90vh;
    border-top: #014c3b 0.5rem solid;
    border-bottom: #014c3b 0.5rem solid
}

.team .img-left {
    object-fit: cover;
    max-width: 40vw;
    width: 40vw;
    border-right: #014c3b 0.5rem solid
}

.team .right-half {
    max-width: 58vw;
    width: 58vw;
    position: relative;
}

.team .right-half::after {
    content: " ";
    left: -6vh;
    top: 40vh;
    position: absolute;
    border-top: 6vh solid transparent;
    border-right: 6vh solid #014c3b;
    border-bottom: 6vh solid transparent;
}

.team .right-half .wrapper {
    margin-left: 4em;
    margin-top: 2em;
}

.team .right-half .wrapper .upper-block {
    font-size: 3em;
    font-family: 'Courier New', monospace;
    color: #014c3b;
}

.team .right-half .wrapper .middle-block {
    padding: 0 0 0 0.5rem;
    font-size: 1.2em;
}

.team .card {
    border-radius: 5px;
    margin-left: 1vw;
    box-shadow: 0 5px 15px #014c3b;
    height: 70vh;
}

.team .card .card-img-top {
    height: 30vh;
    object-fit: cover;
}

.filler {
    display: flex;
    height: 70vh;
    background-color: white;
}

.transparent {
    display: flex;
    height: 70vh;
}

.footer {
    width: 100%;
    height: 20vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #014c3b;
    color: white;
}

.main-infos{
    display: flex;
    height: 70vh;
    margin: 2% 5% 2% 5%;
}

.main-infos .left {
    flex: 5%;
}

.main-infos .right {
    flex: 5%;
}

.main-infos .info-prestations-container {
    display: flex;
    padding: 2% 3% 2% 3%;
    flex: 90%;
    border-radius: 1rem;
    background: linear-gradient(110deg, #019875 60%, #014c3b 60%);
}

.main-infos .info-prestations-container .left {
    flex: 52%;
    font-size: 1.3rem;
    text-align: justify;
    text-justify: auto;
}

.main-infos .info-prestations-container .left ul{
    list-style-type: "- ";
}

.main-infos .info-prestations-container .left .name {
    font-family: 'Courier New', monospace;
    font-size: 2.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0.8rem 0 0.2rem 0;
}

.main-infos .info-prestations-container .left .filler {
    height: 0.5vh;
    border-radius: 1rem;
    background-color: #014c3b;
    margin-bottom: 1rem;
}

.main-infos .info-prestations-container .separator {
    flex: 3%;
}

.main-infos .info-prestations-container .right {
    margin: 7% 0 7% 0;
    flex: 45%;
}

.main-infos .info-prestations-container .right img{
    max-width:100%;
    max-height:100%;
    border-radius: 1rem;
    border: #019875 0.5rem solid
}

.text-block {
    margin-bottom: 1rem;
}

#collapseKine {
    border-top: #014c3b 0.5rem solid;
    border-bottom: #014c3b 0.5rem solid;
}

#collapseKine .info-prestations-container::before {
    content: " ";
    left: 25vh;
    top: 0;
    position: absolute;
    border-bottom: 7vh solid #019875;
    border-right: 7vh solid transparent;
    border-left: 7vh solid transparent;
}

#collapseOsteo {
    border-top: #014c3b 0.5rem solid;
    border-bottom: #014c3b 0.5rem solid;
}

#collapseOsteo .info-prestations-container::before {
    content: " ";
    left: 70vh;
    top: 0;
    position: absolute;
    border-bottom: 7vh solid #019875;
    border-right: 7vh solid transparent;
    border-left: 7vh solid transparent;
}

#collapseCabinet {
    border-top: #014c3b 0.5rem solid;
    border-bottom: #014c3b 0.5rem solid;
}

#collapseCabinet .info-prestations-container::before {
    content: " ";
    right: 70vh;
    top: 0;
    position: absolute;
    border-bottom: 7vh solid #019875;
    border-right: 7vh solid transparent;
    border-left: 7vh solid transparent;
}